google.generativeai
python-dotenv
youtube_transcript_api
pathlib
PIL
PyPDF2
langchain.text_splitter
langchain_google_genai
langchain.chains.question_answering
langchain.prompts
langchain_community.vectorstores
gtts
playsound
flask
flask_sqlalchemy
uuid
flask_bcrypt
flask_cors
logging
